useDynLib(NAM)
exportPattern("^[[:alpha:]]+")
import(stats)
import(utils)
import(grDevices)
import(graphics)
importFrom(Rcpp, evalCpp)
importFrom(randomForest, randomForest)
S3method(plot, NAM)
S3method(plot, fst)
S3method(plot, H2)
S3method(plot, gibbs)